fastapi
uvicorn
pydantic
PyPDF2
python-docx
openpyxl
python-pptx
langchain
langchain-chroma
langchain-ollama
faster-whisper
pymupdf
pdf2image
numpy<2
opencv-python
paddlepaddle==2.6.2
paddleocr==2.7.3
python-dotenv
